.track_section{
    width:100%;
    padding:80px;
}

.track_section *{
    margin: 0;
}

.track_info{
    display: block;
    flex-grow: 1;
    text-align: left;
}

.track_info h1{
    margin-bottom: 10px;
}

.track_data_wrapper{
    display:flex;
    margin-bottom: 50px;
}

.track_data_wrapper img{
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 10px;
    max-width: 250px;
    margin-right: 40px;
}

.track_data_wrapper h2{
    color: rgb(179, 179, 179);
    font-weight: 700;
    text-align: left !important;
    font-size: 24px;
    margin-bottom: 10px;
}

.album_text{
    color: rgb(155, 155, 155);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.track_info a{
    margin: 20px 0;
}


/* ====== Feature Grid ==========*/
.feature_grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    border-top: 1px solid rgb(64, 64, 64);
    border-left: 1px solid rgb(64, 64, 64);
}

.feature_grid div{
    padding: 15px 10px;
    border-bottom: 1px solid rgb(64, 64, 64);
    border-right: 1px solid rgb(64, 64, 64);
}

.feature_grid div h3{
    color: rgb(179, 179, 179);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.feature_grid div p {
        color: rgb(179, 179, 179);
    font-size: 12px;
    margin-bottom: 0px;
}


/* ==== feature chart ==== */
.feature_chart{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


@media (max-width:700px){
    .feature_grid{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media (max-width:500px){
    .track_data_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .track_data_wrapper img{
        margin-right: 0;
    }

    .track_info{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
    }
}